
.container {
    background-color: #eee;
    padding: 20px;
    overflow: auto;
}
.container div {
    background-color: white;
    border: 1px solid #999;
}

.one {
    width: 160px;
    padding: 20px;
    float:left;
}

.one img {
    vertical-align: top;
    width: 80px;
    height: 80px;
}
.one span {
    margin-left: 20px;
    font-size: 5px;
}

.two {
    min-width: 20px;
    padding: 20px;
    margin-left: 220px;
    margin-right: 140px;
}
.three {
    float:right;
    width: 80px;
    padding: 20px 20px 0 20px;
}
.three img {
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
}