

* {
    margin: 0;
    padding: 0;
}



#container * {
    box-sizing:border-box;
}
.row{
    padding-right: 20px;
}
.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-']{
    float: left;
    margin-top: 20px;
    padding-left: 20px;

}

.inner{
    background-color: #eee;
    outline: 1px solid #999;
    height: 50px;
}

@media (min-width:769px ){
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.6666%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.3333%;
    }
    .col-md-6{
        width: 50%;
    }
}

@media (max-width:768px ) {
    .col-sm-2{
        width: 16.6666%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-8{
        width: 66.6666%;
    }
    .col-sm-12{
        width: 100%;
    }
}
